<div class="login-page">
  <form #form="ngForm" class="form">
    <div class="register-form">
      <input required [(ngModel)]="user.name" name="name" type="text" placeholder="full name" />
      <input required [(ngModel)]="user.username" name="username" type="text" placeholder="username" />
      <input required [(ngModel)]="user.password" name="password" type="password" placeholder="password" />
      <input required [(ngModel)]="confirmPassword" name="confirmPassword"
        type="password" placeholder="confirm password" />
      <button disabledOffline (click)="register(form)">create</button>
      <p class="message">Already registered?
        <a routerLink='/login'>Sign In</a>
      </p>
    </div>
  </form>
</div>