<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input [(ngModel)]="user.username" type="email" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Login</button>
    <a href="#" [routerLink]="['/register']">Sign up</a>
  </div>
</div>

