@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@ng-select/ng-select/themes/default.theme.css';

.component {
    margin-top: 30px;
}

:disabled {
    cursor: not-allowed !important;
    opacity: 0.7 !important;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948 !important; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442 !important;
  }

  .error {
    border-left: 5px solid #42A948 !important; 
  }